*.bmp
*.BMP
*.log
*.LOG
*.obj
*.OBJ
*.dat
*.DAT
.svn
*.rar
*.RAR
*.exe
*.EXE
*.dll
*.DLL
*.ocx
*.OCX
*.mid
*.MID
*.psd
*.PSD
*.gif
*.GIF
*.mof
*.MOF

Thumbs.db
*.png
*.PNG
*.mp3
*.MP3
*.zip
*.ZIP
*.wav
*.WAV
*.jpg
*.JPG
*.KDE
*.kde
*.mir
*.MIR